<section class="phx-hero">
  <h1><%= gettext "Welcome to %{name}!", name: "Curious Messenger" %></h1>
  <p>An awesome instant messaging app<br/>made with ❤️ by <a href="https://curiosum.dev">Curiosum</a>.</p>
</section>

<%= if @current_user do %>
  <%= live_render(@conn,
                  CuriousMessengerWeb.DashboardLive,
                  session: %{"current_user" => @current_user}) %>
<% end%>
