use Mix.Config

# Configure your database
config :curious_messenger, CuriousMessenger.Repo,
  username: "",
  password: "",
  database: "curious_messenger_test",
  hostname: "localhost",
  pool: Ecto.Adapters.SQL.Sandbox
